
.navbar { background-color: rgb(9, 8, 119) !important;

}
.nav-link {
    color: rgb(255, 255, 255);
}

.contenedor { background-color: rgb(9, 8, 119);
	border-radius: 2%;
	padding: 20px;
	width: 90%;
	margin: auto;
	display: flex;
	justify-content: left;
}

body{ background-image: url(../resources/cool-background.png);
	background-size: 100% 100%;
}

@media only screen and (max-width: 600px){
	.contenedorh2{ 
		padding: 20px;
		min-width: 250px;
		margin: auto;
		display: flex;
		justify-content: center;
	}
}

.contenedorh2{ 
	padding: 20px;
	margin: auto;
	display: flex;
	justify-content: center;
	text-align: center;
}
.contenedorimg {
	padding: 20px;
	width: 90%;
	margin: auto;
	display: flex;
	justify-content: center;
}

 
.titulo { margin: 5px;
	padding: 5px;
	width: auto;
	color: rgb(255, 255, 255);
	background-size: auto;
	background-color: rgb(9, 8, 119);
	font-size: auto;
	font-family: 'Signika', sans-serif; 
	text-shadow: 2px 2px rgb(0, 0, 0);
}

.titulo2{ color: white; text-shadow: 2px 2px rgb(0, 0, 0);
}

.texto{ color: rgb(255, 255, 255); text-shadow: 1px 1px rgb(0, 0, 0)
}

.img { background-color: rgb(9, 8, 119);
	padding: 10px;
	max-width: fit-content;
	min-width: fit-content;
	margin: auto;
	display: flex;
	justify-content: center;	
}

.carousel-inner > .carousel-item > img {
    width: 100% !important;
 height: 50%;
  }

.rounded {
    border-radius: 5% !important;
}

body{
    background-color: rgb(255, 255, 255);
}
h1{
    color: rgb(0, 0, 0);
}
h2{
    color: rgb(0, 0, 0)
}
label{
    color: rgb(0, 0, 0);
}

#imgPerfil{
	min-width: 100px;
	min-height: 100px;
}

#btn-contact{
	background-color: black !important;
}

.imgSeba{
	border: 5px groove rgb(9, 8, 119);
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  height: 100px;
  width: 100px;
  outline: black;
  background-size: 100%, 100%;
  background-image: none;
}

.carousel-control-next-icon:after
{
  content: '>';
  font-size: 55px;
  color: rgb(9, 8, 119);
}

.carousel-control-prev-icon:after {
  content: '<';
  font-size: 55px;
  color: rgb(9, 8, 119);
}

.footer-content{
	width: 100%;
    height: 100%;
    background-image: url(../resources/footer.png);
    background-size: 100% 100%;
}


#page-container {
	position: relative;
	min-height: 100vh;
  }
  
#content-wrap {
	padding-bottom: 2.5rem;    /* Footer height */
  }
  
footer {
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 2.5rem;            /* Footer height */
  }

a:hover {
	 color: rgb(255, 251, 0) !important;
	 text-shadow: 0px 0px 4px #fff !important;
	 background-color: rgb(9, 8, 119) !important;
	}

.dropdown-item{
	background-color: rgb(9, 8, 140) !important;
	color: rgb(255, 255, 255);
}

.dropdown-menu{
	background-color: rgb(9, 8, 140) !important;
}

a:focus {
	color: rgb(255, 251, 0) !important;
	 text-shadow: 0px 0px 4px #fff !important;
	 background-color: rgb(9, 8, 119) !important;
}